* {
    font-family: Roboto;
}

body {
    color: white;
    background-color: #1F2937;
    /*margin: 0 240px;*/
}

/*1*/
.header {
    display: flex;
    background-color: #1F2937;
    align-items: end;
    margin: 20px 240px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.spacer {
    flex: auto;
}

.links {
    display: flex;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*2*/

.top {
    display: flex;
    margin: 120px 0;
    align-items: top;
    justify-content: space-between;
    gap: 50px;
    padding: 0 240px;
}

.leftside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgplaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: auto;
    width: 950px;
    color: #E5E7EB;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herocaption {
    color: #E5E7EB;
    font-size: 18px;
}

.topbutton {
    background-color: #3882F6;
    width: 125px;
    padding: 8px;
    border-radius: 12px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

/*3*/
.middle {
    background-color: white;
    padding: 0 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle > * {
    color: black;
}

.middle .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px 0 150px 0;
}

.imagebox {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .caption {
    width: 150px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    color: #1F2937;
}

/*4*/
.quote {
    padding: 100px 310px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.signer {
    align-self: flex-end;
    display: flex;
    font-weight: 700;
    font-size: 24px;
}

/*5*/
.bottom {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 240px;
}

.calltoaction {
    background-color:#3882F6;
    padding: 50px 75px;
    margin: 100px 0;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftbox {
    gap: 10px;
}

.bottom .title {
    font-size: 24px;
    font-weight: 700;
}

.bottom .caption {
    font-size: 18px;
    color: #E5E7EB;
}

.bottombutton {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 35px;
}